h1 {
    text-align: center;
}

#squares-div {
    display: flex;
    /* justify-content: center; */
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
}

.square {
    width: 160px;
    height: 160px;
    padding: 5px;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 130px;
    height: auto;
}

form {
    margin-bottom: 40px;
}