body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-weight: 400;
}

/* form div {
    margin-top: 15px;
} */

#squares-div {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
}

.square {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    width: 160px;
    height: auto;
}

form {
    margin: 40px;
}

.colorButton {
    position: absolute;
    top: 0px;
    border: 1px solid black;
}